[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yzkqfll
[access "refs/for/refs/*"]
	read = group user/yzkqfll
	push = group user/yzkqfll
	label-Code-Review = -2..+2 group user/yzkqfll
	label-Verified = -1..+1 group user/yzkqfll
	rebase = group user/yzkqfll
	removeReviewer = group user/yzkqfll
	submit = group user/yzkqfll
[access "refs/heads/*"]
	read = group user/yzkqfll
	create = group user/yzkqfll
	push = +force group user/yzkqfll
	pushMerge = group user/yzkqfll
[access "refs/tags/*"]
	push = group user/yzkqfll
	push = +force group user/yzkqfll
